<nav class="w-full p-2 flex justify-between">
  <ul class="gap-2 flex w-fit">
    <li>
      <app-shatter-button routerLink="/" class="text-xl" title="About me" />
    </li>
    <li>
      <app-shatter-button routerLink="/" class="text-xl" title="Projects" />
    </li>
    <li>
      <app-shatter-button routerLink="/" class="text-xl" title="Contact" />
    </li>
  </ul>
  <a href="/" class="flex gap-3 items-start">
    <small class="text-white text-xl"> kemorave </small>
    <img src="./kemorave.png" class="h-8" alt="kemorave" />
  </a>
</nav>
