<div class="flex size-full">
  <div class="relative flex flex-col m-auto hide-intro">
    <div
      style="
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      "
      class="absolute flash size-full"
    ></div>
    <app-shatter-container class="show-up-animation" #shCont>
      <p
        class="md:text-9xl m-5 text-black self-center text-7xl pointer-events-none intro-animation font-thin"
      >
        KEMORAVE
      </p>
    </app-shatter-container>
    <p
      class="font-thin text-white pointer-events-none text-md show-up-animation"
    >
      The greate wizard.
    </p>
  </div>
</div>
