<div class="size-full flex">
  <div class="flex hide-intro flex-col m-auto relative">
    <div
      style="
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      "
      class="flash absolute size-full"
    ></div>
    <app-shatter-container class="show-up-animation" #shCont>
      <p
        class="md:text-8xl  font-[rolemodel] text-6xl pointer-events-none intro-animation font-thin "
      >
        KEMORAVE
      </p>
    </app-shatter-container>
    <p
      class="text-md font-thin pointer-events-none show-up-animation text-white"
    >
      This Is Cinema.
    </p>
  </div>
</div>
