<div class="p-5 size-auto">
  <section class="relative grid grid-cols-2 mb-5 late-show-up-animation">
    <div
      class="relative flex flex-col items-center justify-center w-full gap-3"
    >
      <div class="relative flex items-center w-full text-center">
        <div
          class="absolute justify-center bg-white size-full to-full-size"
        ></div>
        <p
          class="w-full my-2 text-center text-black uppercase text-7xl shatter-invert-text"
        >
          Hi there
        </p>
      </div>
      <p class="w-full my-2 text-3xl font-bold text-black shatter-invert-text">
        My name is Ibrahim, and I am a software developer. With over four years
        of experience specializing in web and mobile applications. I love what I
        do and I am always looking for new challenges to take on.
      </p>
    </div>

    <div
      class="relative flex flex-col items-center justify-center  gap-3 w-full  group/profImage"
    >
      <img appParallax  
        src="./K.webp"
        alt="kemorave"
        class="max-w-[250px]  active:invert-0 border-2 rounded-lg object-contain group-hover/profImage:invert group-hover/profImage:scale-105 transition-all duration-1000"
      />
      <div class="relative flex items-center w-full">
        <div class="absolute w-full bg-white to-zero-size "></div>
        <p
          class="w-full font-[caviardreams]  group-hover/profImage:before:content-['Like_magic.'] before:content-['I_make_things_happen_with_code.'] my-2 text-3xl group-hover/profImage:text-blue-600 transition-colors duration-1000 font-bold text-center text-black   shatter-invert-text"
        >
          
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col size-full">
    <h2 class="m-5 text-black">Where to find me</h2>
    <div
      class="flex flex-wrap items-center content-center self-center gap-5 p-5 justify-items-center"
    >
      <app-shatter-container
        (onShatter)="openLink(item.url)"
        *ngFor="let item of whereToFindMeList"
        class="md:w-[300px] h-[150px] group  hover:scale-105 transition-all duration-[1500ms] cursor-pointer w-full rounded-md overflow-clip"
      >
        <div class="relative flex items-center w-full p-5 justify-items-center">
          <fa-icon size="7x"  [icon]="item.icon"></fa-icon>
          <p class="ml-3 text-2xl font-bold text-black ">{{ item.text }}</p>

          <fa-icon size="1x" class="absolute top-0 right-0 m-2 transition-colors duration-500 text-black tr group-hover:text-red-600" [icon]="faExternalLink"></fa-icon>
        </div>
      </app-shatter-container>
    </div>
  </section>
</div>
