<div class="size-auto p-5">
   <section class="grid late-show-up-animation grid-cols-2 relative mb-5">
    <div class="w-full gap-3 relative flex flex-col justify-center items-center">
      <div class="w-full relative flex items-center text-center">
        <div
          class="bg-white absolute justify-center size-full to-full-size"
        ></div>
        <p
          class="uppercase my-2 w-full text-center text-7xl shatter-invert-text text-black"
        >
          Hi there
        </p>
      </div>
      <p class="text-3xl my-2 w-full shatter-invert-text font-bold text-black">
        My name is Ibrahim, and I am a software developer specializing in web
        and mobile applications. With over four years of experience, I have
        honed my skills in various programming languages, including JavaScript,
        TypeScript, C#, and Dart. My expertise lies in building scalable,
        efficient, and user-friendly applications that cater to the needs of
        both businesses and individuals.
      </p>
    </div>

    <div class="w-full gap-3 relative flex flex-col justify-center items-center">
      <img
        src="./K.webp"
        alt="kemorave"
        class="max-w-[250px] border-2 rounded-lg object-contain"
      />
      <div class="w-full relative flex items-center">
        <div class="bg-white absolute w-full to-zero-size"></div>
        <p
          class="text-3xl my-2 w-full text-center shatter-invert-text uppercase font-bold text-black"
        >
          I make things happen with code.
        </p>
      </div>
    </div>
  </section>
  <section class="size-full flex flex-col">
    <h2 class="m-5 text-black">Where to find me</h2>
    <div
      class="flex flex-wrap items-center content-center justify-items-center gap-5 p-5 self-center"
    >
      <app-shatter-container
        (onShatter)="openLink(item.url)"
        *ngFor="let item of whereToFindMeList"
        class="md:w-[300px] h-[150px] hover:scale-105 transition-all duration-700 cursor-pointer w-full rounded-md overflow-clip"
      >
        <div class="flex p-5 w-full items-center justify-items-center">
          <fa-icon size="7x" [icon]="item.icon"></fa-icon>
          <p class="ml-3 font-bold text-2xl text-black">{{ item.text }}</p>
        </div>
      </app-shatter-container>
    </div>
  </section>
</div>
