@font-face {
  src: url("/fonts/Goldroom D/Goldroom D.otf");
  font-family: goldroom;
}
@font-face {
  src: url("/fonts/thegodfather/TheGodfather-v2.ttf");
  font-family: godfather;
}
@font-face {
  src: url("/fonts/demode/Demode.ttf");
  font-family: demode;
}
@font-face {
  src: url("/fonts/role-model-personal-use/RoleModel-PersonalUse-Regular.otf");
  font-family: rolemodel;
}
@import "./scss/fontawsome/css/fontawesome.css";
@import "./scss/fontawsome/css/regular.css";
@import "./scss/fontawsome/css/solid.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-white font-[rolemodel];
}
h2 {
  mix-blend-mode: difference;
  filter: invert(1);
  @apply bg-transparent   font-[rolemodel] pointer-events-none font-bold text-2xl;
}
@keyframes flash-effect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes open {
  0% {
    transform: scale3d(0.3, 0, 0.3);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes close {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
    transform: scale3d(0.3, 0, 0.3);
  }
}
@keyframes show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: black;
}
#info {
  color: white;
  font-family: monospace;
}

.fragment-canvas {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.canvas-draw {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  width: 768px;
  height: 485px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.shatter-invert-text {
  mix-blend-mode: difference;
  filter: invert(1);
  @apply bg-transparent   font-[rolemodel] pointer-events-none;
}
